{% macro build(list, class) -%}
	{% for item in list %}
	<a class="{{ class }}{{ item.flags }}" href="{{ item.address }}">
		{% if item.image %}
		<span class="glyphicon glyphicon-{{ item.image }}"></span>
		{% endif %}
		<span>{{ item.name }}</span>
	</a>
	{% endfor %}
{%- endmacro %}

{% macro context(list, id, class) -%}
	{% for item in list %}
	<a class="{{ class }}{{ item.flags }}" href="{{ item.address }}">
		{% if item.image %}
		<span class="glyphicon glyphicon-{{ item.image }}"></span>
		{% endif %}
		<span>{{ item.name }}</span>
	</a>
	{% endfor %}
{%- endmacro %}

{% macro navigation(list, class) -%}
	{% for item in list %}
	<li><a class="{{ class }}{{ item.flags }}" href="{{ item.address }}">
		{% if item.image %}
		<span class="glyphicon glyphicon-{{ item.image }}"></span>
		{% endif %}
		<span>{{ item.name }}</span>
	</a></li>
	{% endfor %}
{%- endmacro %}