{% macro build(list, class) -%}
	{% for item in list %}
		{% if item.flags == 2 %}
		<a class="{{ class }}" href="#"
		onclick="ajax_popup('#eowyne-menu-popup', '{{ item.address }}')">
		{% else %}
		<a class="{{ class }}" href="{{ item.address }}">
		{% endif %}
			{% if item.image and item.flags == 0 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
			<span>{{ item.name }}</span>
			{% if item.image and item.flags >= 1 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
		</a>
	{% endfor %}
{%- endmacro %}

{% macro context(list, id, class) -%}
	{% for item in list %}
		{% if item.flags == 2 %}
		<a class="{{ class }}" href="#"
		onclick="ajax_popup('#eowyne-menu-popup', '{{ item.address|replace('<id>', id) }}')">
		{% else %}
		<a class="{{ class }}" href="{{ item.address|replace('<id>', id) }}">
		{% endif %}
			{% if item.image and item.flags == 0 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
			<span>{{ item.name }}</span>
			{% if item.image and item.flags >= 1 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
		</a>
	{% endfor %}
{%- endmacro %}

{% macro navigation(list, class) -%}
	{% for item in list %}
		<li>
		{% if item.flags == 2 %}
		<a class="{{ class }}" href="#"
		onclick="ajax_popup('#eowyne-menu-popup', '{{ item.address }}')">
		{% else %}
		<a class="{{ class }}" href="{{ item.address }}">
		{% endif %}
			{% if item.image and item.flags == 0 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
			<span>{{ item.name }}</span>
			{% if item.image and item.flags >= 1 %}
			<span class="glyphicon glyphicon-{{ item.image }}"></span>
			{% endif %}
		</a>
		</li>
	{% endfor %}
{%- endmacro %}

{% macro popup(id, list, class) -%}
	<script>
		$(function() {
			$("#{{ id }}").hover(function(event) {
				var pos = $(this).position();
				var width = $(this).outerWidth();
				var height = $(this).outerHeight();
				$("#{{ id }}-popup").css({top: (pos.top + height) + "px",
					left: pos.left + "px",
					width: width +"px"}).show();
			}, function() { $("#{{ id }}-popup").hide(); });
			$("#{{ id }}-popup").hover(function(event) {
				$("#{{ id }}-popup").show();
			}, function() {
				$("#{{ id }}-popup").hide();
			});
		});
	</script>
	<ul id="{{ id }}-popup">
		{% for item in list %}
			<li>
				<a class="{{ class }}" href="{{ item.address }}">
				{% if item.image and item.flags == 0 %}
					<span class="glyphicon glyphicon-{{ item.image }}"></span>
				{% endif %}
				{{ item.name }}
				{% if item.image and item.flags == 1 %}
					<span class="glyphicon glyphicon-{{ item.image }}"></span>
				{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{%- endmacro %}

