{% macro align_columns(columns, alignment) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}), table td:nth-child({{ column }}) {
			text-align: {{ alignment }};
		}
	{% endfor %}
{%- endmacro %}

{% macro size_columns(columns, width) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}), table td:nth-child({{ column }}) {
			width: {{ width }};
		}
	{% endfor %}
{%- endmacro %}

{% macro style_columns(columns, style) -%}
	{% for column in columns %}
		table td:nth-child({{ column }}) { {{ style }} }
	{% endfor %}
{%- endmacro %}

{% macro style_headers(columns, style) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}) { {{ style }} }
	{% endfor %}
{%- endmacro %}
