{% macro align_columns(columns, alignment) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}), table td:nth-child({{ column }}) {
			text-align: {{ alignment }};
		}
	{% endfor %}
{%- endmacro %}

{% macro size_columns(columns, width) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}), table td:nth-child({{ column }}) {
			width: {{ width }};
		}
	{% endfor %}
{%- endmacro %}

{% macro style_columns(columns, style) -%}
	{% for column in columns %}
		table td:nth-child({{ column }}) { {{ style }} }
	{% endfor %}
{%- endmacro %}

{% macro style_headers(columns, style) -%}
	{% for column in columns %}
		table th:nth-child({{ column }}) { {{ style }} }
	{% endfor %}
{%- endmacro %}


{% macro filter_textfield(name) -%}
	<script>
	$(document).ready(function () {
		var ${{ name }} = $('#{{ name }}');
		${{ name }}.on('input', function() {
			var n = $(this).parent()[0].cellIndex + 1;
			var value = ${{ name }}.val();
			$('tr').show();
			if (value!= "" && value != "*") {
				$('table td:nth-child(' + n + '):not(:contains("' + value + '"))').
				parent().hide();
				$(this).parent().parent().show();
			}
		});
	});
	</script>	
	<input type="text" name="{{ name }}" id="{{ name }}"/>
{%- endmacro %}

{% macro filter_select(name) -%}
	<script>
	$(document).ready(function () {
		var ${{ name }} = $('#{{ name }}');
		var n = ${{ name }}.parent()[0].cellIndex + 1;
		var arr = []
		$('table td:nth-child(' + n + ')').each(function(index) {
			var text = $(this).text();
			if (text.indexOf("<script>") > -1) return;
			if (arr.indexOf(text) > -1) return;
			arr.push(text);
			$('<option>').text($(this).text()).appendTo(${{ name }});
		});
		${{ name }}.change(function() {
			var n = $(this).parent()[0].cellIndex + 1;
			var value = ${{ name }}.val();
			$('tr').show();
			if (value!= "" && value != "*") {
				$('table td:nth-child(' + n + '):not(:contains("' + value + '"))').
				parent().hide();
				$(this).parent().parent().show();
			}
		});
	});
	</script>
	<select name="{{ name }}" id="{{ name }}">
		<option>*</option>
	</select>
{%- endmacro %}
