{% import "base/forms.html" as forms %}
<form class="popup-window" id="form" action="{{ action }}" method="post">
	<div class="popup-header">Reset password</div>
	<div class="popup-content">
		<div class="popup-messages">{% include "base/messages.html" %}</div>
		<div class="container"><div class="row">
			<div class="col-xs-4 col-sm-4">{{ form.password.label }}</div>
			<div class="col-xs-8 col-sm-8">{{ forms.field(form.password) }}</div>
		</div></div>
	</div>
	{{ form.csrf_token }}
	<div class="popup-footer"><div class="btn-group" role="group">
		{{ form.confirm(class_="btn btn-default") }}
		{{ form.cancel(class_="btn btn-default") }}
	</div></div>
</form>