html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial,helvetica,clean,sans-serif;
}


/* Areas.
***********************************************************************************/
#page-area {
	position: relative;
	min-height: 100%;
}

#header-area {
	left: 0px;
	top: 0xp;
	width: 100%;
	height: 46px;
	border-bottom: 4px solid #c0d050;
    background-image: -moz-linear-gradient(center bottom , #202020 25%, #404040 75%);
}

#content-area {
	width: 100%;
	padding: 20px 0px 120px 0px;
}

#footer-area {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	text-align: center;
	background-color: #eee;
}

#message-area {
	padding: 5px 10px;
	border: 1px solid #ddd;
	background-color: #ebebff;
	list-style: none;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
}

h1 {
	width: 100%;
	margin: 20px auto;
	border-bottom: 1px solid #ddd;
	font-size: 24px;
}

h2 {
	font-size: 18px;
}


/* Menus.
***********************************************************************************/
#main-menu > ul {
	padding: 0px 15px;
}

#main-menu li a {
	padding: 10px 20px;
	color: #fff;
}

#main-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #c0d050;
}

#main-menu ul.dropdown-menu {
	padding: 0px;
	background-color: #303030;
}

#main-menu li.dropdown:hover ul.dropdown-menu {
	display: block;
}


/* Popup Windows.
***********************************************************************************/
.popup-window {
    max-width: 500px;
    margin: 20px;
    border: 2px solid #3b3b3b;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

.popup-header {
    padding: 10px;
	border-bottom: 2px solid #3B3B3B;
    border-radius: 1px 1px 0px 0px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    background-image: -moz-linear-gradient(center bottom , #3B3B3B 25%, #575757 75%);
    color: #FFF;
}

.popup-content {
    margin: 0px 10px;
    padding: 10px 0px;
    overflow: hidden;
}

.popup-panel {
	margin-top: 5px;
	padding: 5px;
	border-top: 1px dotted #ddd;
}

.popup-messages {
}

.popup-footer {
    margin: 0px 10px;
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-align: right;
}

.popup-content .container {
	width: 100%;
	padding: 5px;
}


/* Forms.
***********************************************************************************/
label {
	margin: 4px 0px;
	padding: 3px;
	font-weight: normal;
}

input[type="text"], input[type="password"], select, textarea {
	width: 100%;
	margin: 4px 0px;
	border: 1px solid #ddd;
	border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0px 0px 1px rgba(50, 50, 50, 0.2);
}

input[type="text"], input[type="password"], textarea {
	padding: 2px 8px;
}

select {
	padding: 3px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"], button {
	margin: 0px;
}

input[type="text"]:disabled, input[type="password"]:disabled,
select:disabled, textarea:disabled {
	background-color: #f8f8f8;
	color: #666;
}


/* Tables.
***********************************************************************************/
table {
	width: 100%;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #F5FAEA;
	text-decoration: none;
}

th {
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
	background-color: #EBF5D6;
}

td {
	padding: 10px;
}

td:first-child {
	padding-right: 16px;
	white-space: nowrap;
}

table .even {
	background-color: #ffffff;
}

table .odd {
	background-color: #fbfbfb;
}

table .filters {
	border: 1px solid #ddd;
}

table a {
	color: #000;
}

table input[type="text"], table select {
	width: auto;
}


/* Miscellaneous elements.
***********************************************************************************/
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.no-icon img, .no-icon .glyphicon { display: none; }
.block { display: block; }
div > .container { width: 100%; }


/* Dashboard.
***********************************************************************************/
.dashboard-data {
	border-bottom: 1px dotted #ddd;
}

.dashboard-link {
	display: block;
	width: 64px;
	height: 64px;
	margin: 10px auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	background-color: #f0f0f0;
	color: #404060;
}

.dashboard-link:hover {
	text-decoration: none;
	background-color: #f8f8f8;
	color: #80a0f0;
	text-shadow: 0px 0px 1px #80a0f0;
}

.dashboard-link .glyphicon {
	display: block;
	padding: 4px;
	font-size: 28px;
}