html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial,helvetica,clean,sans-serif;
}


/* Areas.
***********************************************************************************/
#page-area {
	position: relative;
	min-height: 100%;
}

#header-area {
	left: 0px;
	top: 0xp;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

#content-area {
	width: 100%;
	padding: 20px 0px 120px 0px;
}

#footer-area {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	text-align: center;
	background-color: #eee;
}

#message-area {
	padding: 5px 10px;
	border: 1px solid #ddd;
	background-color: #ebebff;
	list-style: none;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
}


/* Menus.
***********************************************************************************/
#personal-menu {
	list-style: none;
	text-align: right;
}

#personal-menu li {
	display: inline-block;
	padding: 5px 0px 0px 20px;
}

#main-menu ul {
	padding: 0px;
	list-style: none;
	font-size: 24px;
}

#main-menu li {
	display: inline-block;
	padding: 0px 30px 0px 0px;
}

#personal-menu a, #main-menu a {
	text-decoration: none;
	color: #333;
}

#personal-menu a:hover, #main-menu a:hover {
	text-decoration: none;
	color: #4682B4;
}

/* Forms.
***********************************************************************************/
.buttons {
	width: 90%;
	margin: 10px auto 0px auto;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	text-align: center;
}

form {
	width: 100%;
	min-width: 350px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ddd;
}

label {
	float: left;
	width: 125px;
	margin: 8px 0px 2px 0px;
}

form span {
	display: block;
	overflow: hidden;
	padding-left: 10px;
}

input[type="text"], select, textarea {
	width: 100%;
	margin: 5px 0px;
	border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: inset 0 0 2px rgba(50, 50, 50, 0.1);
}

input[type="text"], textarea {
	padding: 2px 8px;
}

select {
	padding: 3px 5px;
	border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"], button {
	width: 125px;
	margin: 0px 15px;
}


/* Tables.
***********************************************************************************/
table {
	width: 100%;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #F5FAEA;
	text-decoration: none;
}

th {
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
	background-color: #EBF5D6;
}

td {
	padding: 10px;
}

td:first-child {
	padding-right: 16px;
	white-space: nowrap;
}

table .even {
	background-color: #ffffff;
}

table .odd {
	background-color: #fbfbfb;
}

table .filters {
	border: 1px solid #ddd;
}

table a {
	color: #000;
}

table input[type="text"], table select {
	width: auto;
}


/* Pop up forms.
***********************************************************************************/
.popup {
	border: 1px solid #aaa;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.popup h2 {
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	background: #c1ccac;
	background: -moz-linear-gradient(-45deg, #c1ccac 0%, #ebf5d6 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c1ccac), color-stop(100%,#ebf5d6));
	background: -webkit-linear-gradient(-45deg, #c1ccac 0%,#ebf5d6 100%);
	background: -o-linear-gradient(-45deg, #c1ccac 0%,#ebf5d6 100%);
	background: -ms-linear-gradient(-45deg, #c1ccac 0%,#ebf5d6 100%);
	background: linear-gradient(135deg, #c1ccac 0%,#ebf5d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ccac', endColorstr='#ebf5d6',GradientType=1 );
}

.popup .error {
	padding: 5px 25px;
	color: #800000;
}

.popup .buttons {
	padding: 10px 10px 15px 10px;
	text-align: right;
}

.popup span {
	display: block;
	overflow: hidden;
	padding-left: 10px;
}

.popup button {
	width: 75px;
	margin: 0px 5px;
}


/*
 * Main administration page
*/
h1 {
	width: 100%;
	margin: 20px auto;
	border-bottom: 1px solid #ddd;
	font-size: 24px;
}

.frame {
	display: table;
	border-collapse: collapse;
	width: 100%;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #ddd;
}

.link {
	display: table-row;
	padding: 20px 10px;
	border: 1px solid #ddd;
	font-size: 18px;
	color: #333;
	text-decoration: none;
}

.link:hover {
	background-color: #F5FAEA;
	text-decoration: none;
}

.link .glyphicon {
	width: 48px;
	text-align: center;
}

.link span {
	display: table-cell;
	padding: 20px 10px;
	vertical-align: middle;
}

