html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial,helvetica,clean,sans-serif;
}


/* Areas.
***********************************************************************************/
#page-area {
	position: relative;
	min-height: 100%;
}

#header-area {
	left: 0px;
	top: 0xp;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

#content-area {
	width: 100%;
	padding: 20px 0px 120px 0px;
}

#footer-area {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	text-align: center;
	background-color: #eee;
}

#message-area {
	padding: 5px 10px;
	border: 1px solid #ddd;
	background-color: #ebebff;
	list-style: none;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
}

h1 {
	width: 100%;
	margin: 20px auto;
	border-bottom: 1px solid #ddd;
	font-size: 24px;
}


/* Menus.
***********************************************************************************/
#personal-menu {
	list-style: none;
	text-align: right;
}

#personal-menu li {
	display: inline-block;
	padding: 5px 0px 0px 20px;
}

#main-menu ul {
	padding: 0px;
	list-style: none;
	font-size: 24px;
}

#main-menu li {
	display: inline-block;
	padding: 0px 30px 0px 0px;
}

#personal-menu a, #main-menu a {
	text-decoration: none;
	color: #333;
}

#personal-menu a:hover, #main-menu a:hover {
	text-decoration: none;
	color: #4682B4;
}


/* Forms.
***********************************************************************************/
form {
	width: 100%;
	min-width: 350px;
	margin: 20px auto;
	padding: 0px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

form h2 {
	font-size: 18px;
	margin: 0px;
	padding: 10px 30px;
	border-bottom: 1px solid #ddd;
}

form .container {
	width: 100%;
	padding: 10px 30px;
}

form .buttons {
	width: 100%;
	padding: 10px 30px;
	border-top: 1px solid #ddd;
	text-align: center;
}

label {
	margin: 4px 0px;
	padding: 3px;
}

input[type="text"], select, textarea {
	width: 100%;
	margin: 4px 0px;
	border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px rgba(50, 50, 50, 0.2);
}

input[type="text"], textarea {
	padding: 2px 8px;
}

select {
	padding: 3px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"], button {
	width: 100px;
	margin: 0px 15px;
}


/* Tables.
***********************************************************************************/
table {
	width: 100%;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #F5FAEA;
	text-decoration: none;
}

th {
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
	background-color: #EBF5D6;
}

td {
	padding: 10px;
}

td:first-child {
	padding-right: 16px;
	white-space: nowrap;
}

table .even {
	background-color: #ffffff;
}

table .odd {
	background-color: #fbfbfb;
}

table .filters {
	border: 1px solid #ddd;
}

table a {
	color: #000;
}

table input[type="text"], table select {
	width: auto;
}