.page{
	font-family: Calibri;
}
.new_brand{
	font-family: Akka;
}
.cali{
	font-family: Calibri;
}

.box {
    background-color: rgba(255, 230, 230, 0.6)!important;

}

footer{
    background-color: rgba(255, 230, 230, 0.8)!important;
    margin-top: 100px;
}

.navbar-default{
	background-color: rgba(255, 230, 230, 0.8)!important;
}
.steckbrief{
position: relative;
top:-50px;
background: #E9BC8B;
box-shadow: 5px 5px 5px #1A0700;
max-width: 350px;
left: -100px;
padding: 20px 20px 60px 20px;

}
.gobutt{
    left: 10px;
    margin-bottom: 150px;
    top: 83px;
}
.rating{
	margin-bottom: 50px;
}