{% extends "base/base.html" %}
{% block meta %}
	<meta name="description" content="La Bodega">
	<meta name="author" content="The La Bodega Team">
    <title>La Bodega - Ihr Somelier für die Hosentasche</title>
	<link rel="shortcut icon" href="./static/img/faviconab.png" type="image/png"/>
    <link href='http://fonts.googleapis.com/css?family=Fascinate+Inline' rel='stylesheet' type='text/css'>
    {{ static.css("css/business-casual.css") }}
    {{ static.css("css/style.css") }}
	{{ static.css("css/base/main.css") }}
	{{ static.css("css/base/menu.css") }}
{% endblock %}
{% block body %}
<div id="personalmenu">{{ menus.build(g.personal_menu, "menuitem") }}</div>
<div class="brand new_brand"><a href="/">La Bodega</a></div>
    <div class="address-bar new_brand"><a href="/">Wein | Geschmack | Genuss</a></div>

 <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	{{ menus.navigation(g.main_menu, "menuitem") }}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% include "base/messages.html" %}
    <div class="container">

    

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center cali">Das sind
                        <strong> wir!</strong> 
                    </h2>
                    <p>Um unsere Leidenschaft für Weine aus unterschiedlichsten Regionen und verschiedenster Geschmackrichtungen, in vernünftige Bahnen zu lenken, sowie um von der Intelligenz der Masse profitieren zu können, haben wir dieses Projekt in die Wege geleitet.</p>
                    <hr>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/daniel.jpg" alt="">
                        <p>Entwicklung und Weinkenner</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/michael.jpg" alt="">
                        <p>Entwicklung und Weinprofi</p>
                        <br/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/andi.jpg" alt="">
                        <p>Designabteilung/Entwicklung und Weinliebhaber</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>



       

        
        

        

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright ACME&copy; 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}