<html>
{% import "base/menu.html" as menu %}
{% import "base/static.html" as static %}
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Bodega - Ihr Somelier für die Hosentasche</title>
    <link rel="shortcut icon" href="./static/img/favicon.png" type="image/png" />
    <!-- Bootstrap Core CSS -->
    {{ static.css("css/bootstrap.min.css") }}

    <!-- Custom CSS -->
    {{ static.css("css/business-casual.css") }}
    {{ static.css("css/style.css") }}

    <!-- Fonts -->
    <!--link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	{{ static.css("css/base/main.css") }}
	{{ static.css("css/base/menu.css") }}
	{% block styles %}{% endblock %}
</head>
<body>
<div id="personalmenu">{{ menu.build(g.personal_menu) }}</div>
<div class="brand new_brand">La Bodega</div>
    <div class="address-bar new_brand">Wein | Geschmack | Genuss</div>

 <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	{{ menu.nav(g.main_menu) }}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% include "base/messages.html" %}
    <div class="container">

    

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center cali">Das
                        <strong> sind wir!</strong> 
                    </h2>
                    <p>Um unsere Leidenschaft für Weine aus unterschiedlichsten Regionen und verschiedenster Geschmackrichtungen, in vernünftige Bahnen zu lenken und von der Intelligenz der Masse profitieren zu können, haben wir dieses Projekt in die Wege geleitet.</p>
                    <hr>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/daniel.jpg" alt="">
                        <p>Entwicklung und Weinkenner</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/michael.jpg" alt="">
                        <p>Entwicklung und Weinprofi</p>
                        <br/>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="../static/img/andi.jpg" alt="">
                        <p>Designabteilung und Weinliebhaber</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>



       

        
        

        

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright ACME&copy; 2014</p>
                </div>
            </div>
        </div>
    </footer>
    {{ static.js("static/js/jquery.js") }}
    {{ static.js("static/js/bootstrap.min.js") }}
    {{ static.js("static/js/scripts.js") }}
    <!-- jQuery -->
    <script src="./static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/scripts.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
</html>