{% extends "base/main.html" %}
{% block content %}
	

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="./static/img/w_slide_1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="./static/img/w_slide_2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="./static/img/w_slide_3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="./static/img/w_slide_4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="./static/img/w_slide_5.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Willkommen zu</small>
                    </h2>
                    <h1 class="brand-name new_brand">la Cava</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>ACME&copy;</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center cali">Ihr eigener <strong>Somelier</strong> für die Hosentasche!
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="./static/img/images.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Ob vom Überangebot auf der Weinkarte hoffnungslos überfordert oder auf der Suche nach dem perfekten Wein zum festlichen Abendessen.</p>
                    <p>Sie finden sich mit Sicherheit öfter in Situationen wieder, in denen Sie gerne Ihren persönlichen Somelier zur Hand hätten.</p>
                    <p>
                    Ihre Wünsche wurden erhört! Die Lösung halten Sie gerade in Ihrer Hand!
                    </p>
                    

                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center cali">Teilen Sie Ihre 
                        <strong>Liebligsweine</strong> und profitieren Sie vom <strong>Erfahrungsschatz</strong> anderer Weinkenner
                    </h2>
                    <hr>
                    <p>Mit unseren vielseitigen Filterfunktionen können Sie Ihre Suche genau Ihrer aktuellen Situation anpassen - und werden mit dem idealen Weinangebot belohnt</p>
                    <p>Ist Ihr Weinerlebnis nach Ihrem Geschmack gewesen, können Sie Ihre Erfahrung dann bewerten und auch andere Benutzer daran teilhaben lassen.</p>
            </div>
        </div>


{% endblock %}