<html>
{% import "base/icons.html" as icons %}
{% import "base/menus.html" as menus %}
{% import "base/static.html" as static %}
{% import "base/tables.html" as tables %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Eowyne Administration">
	<meta name="author" content="The Eowyne Team">
	<title>Eowyne Administration</title>
	<link rel="shortcut icon" href="./static/img/faviconab.png" type="image/png"/>
	{{ static.js("js/jquery.js") }}
	{{ static.js("js/jquery.popupoverlay.js") }}
	{{ static.js("js/bootstrap.min.js") }}
	{{ static.js("js/scripts.js") }}
	{{ static.js("js/eowyne.js") }}
	{% block scripts %}{% endblock %}
	{{ static.css("css/bootstrap.min.css") }}
	{{ static.css("css/core/administration.css") }}
	{% block styles %}{% endblock %}
</head>
<body>
	<div id="popup"></div>
	<div id="page-area">
		<div id="header-area">
			<div class="wrapper">
				<ul id="personal-menu">
					{{ menus.navigation(g.personal_menu) }}
				</ul>
				<nav role="navigation" id="main-menu"><ul>
					{{ menus.navigation(navigation) }}
				</ul></nav>
			</div>
		</div>
		<div id="content-area">
			<div class="wrapper">
				{% include "base/messages.html" %}
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer-area">
			<br/>
			Powered by <a>Eowyne</a><br/><br/>
			<a>Documentation</a> | <a>Get latest version</a> | <a>Contribute</a>
			<br/>
		</div>
	</div>
</body>
</html>