{% import "base/forms.html" as forms %}
<form id="form" action="{{ action }}" method="post">
	<h2>{{ headline }}</h2>
	{{ form.csrf_token }}
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-xs-4">{{ form.menubar_id.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.menubar_id) }}</div>
			<div class="col-sm-2 col-xs-4"></div>
			<div class="col-sm-4 col-xs-8"></div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-4">{{ form.name.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.name) }}</div>
			<div class="col-sm-2 col-xs-4">{{ form.weight.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.weight) }}</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-4">{{ form.address.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.address) }}</div>
			<div class="col-sm-2 col-xs-4">{{ form.flags.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.flags) }}</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-4">{{ form.image.label }}</div>
			<div class="col-sm-4 col-xs-8">{{ forms.field(form.image) }}</div>
			<div class="col-sm-2 col-xs-4"></div>
			<div class="col-sm-4 col-xs-8"></div>
		</div>
	</div>
	<div class="buttons">
		{{ form.confirm }}
		{{ form.cancel }}
	</div>
</form>
