{% extends "core/administration/base.html" %}
{% block styles %}
{{ super() }}
<style type="text/css">
	{{ tables.size_columns([2], "100%") }}
</style>
{% endblock %}
{% block content %}
<h1>Menu Administration</h1>
<table>
	<thead>
		<th>{{ menus.build(actions, "eo-ap") }}</th>
		<th>Name</th>
	</thead>
	<tbody>
		{% for item in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ menus.context(item.actions, item.id, "eo-ap") }}</td>
			<td>{{ item.name }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}