{% extends "core/administration/base.html" %}
{% block styles %}
<style type="text/css">
	{{ tables.style_columns([2], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ tables.style_headers([2], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ tables.size_columns([3], "25%") }}
	{{ tables.size_columns([4], "75%") }}
	{{ tables.style_columns([4, 5, 6], "font-size: 12px; color: #888;") }}
	{{ tables.align_columns([6], "center") }}
</style>
{% endblock %}
{% block content %}
<h1>Menu Administration</h1>
<table>
	<thead>
		<th>{{ menus.build(actions) }}</th>
		<th>{{ icons.glyph("picture") }}</th>
		<th>Name</th>
		<th>Address</th>
		<th>Menu Bar</th>
		<th>{{ icons.glyph("transfer") }}</th>
	</thead>
	<tbody>
		<tr class="filters">
			<td>{{ icons.glyph("filter") }}</td>
			<td></td>
			<td></td>
			<td><input type="text" class="eowyne-table-filter"/></td>
			<td><select class="eowyne-table-filter"/></td>
			<td></td>
		</tr>
		{% for item in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ menus.context(item.actions, item.id) }}</td>
			<td>{{ icons.glyph(item.image) }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.address }}</td>
			<td>{{ item.menubar.name }}</td>
			<td>{{ item.weight }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}