{% extends "core/administration/base.html" %}
{% import "base/table.html" as table %}
{% block styles %}
<style type="text/css">
	{{ table.style_columns([2], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ table.style_headers([2], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ table.size_columns([3], "25%") }}
	{{ table.size_columns([4], "75%") }}
	{{ table.style_columns([4, 5, 6], "font-size: 12px; color: #888;") }}
	{{ table.align_columns([6], "center") }}
</style>
{% endblock %}
{% block content %}
<h1>Menu Administration</h1>
<table>
	<thead>
		<th>{{ menu.build(actions) }}</th>
		<th>{{ icon.glyph("picture") }}</th>
		<th>Name</th>
		<th>Address</th>
		<th>Menu Bar</th>
		<th>{{ icon.glyph("transfer") }}</th>
	</thead>
	<tbody>
		<tr class="filters">
			<td>{{ icon.glyph("filter") }}</td>
			<td></td>
			<td></td>
			<td>{{ table.filter_textfield("address_filter") }}</td>
			<td>{{ table.filter_select("menubar_filter") }}</td>
			<td></td>
		</tr>
		{% for item in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ menu.context(item.actions, item.id) }}</td>
			<td>{{ icon.glyph(item.image) }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.address }}</td>
			<td>{{ item.menubar.name }}</td>
			<td>{{ item.weight }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}