{% extends "core/administration/base.html" %}
{%block scripts %}
<script type="text/javascript">
	$(document).ready(function() { $('#create_menubar').popup(); });
	function create_menubar() {
		text = $('#create_menubar_name').val();
		url = '/api/menubar/create/' + text;
		$.get(url, function(data) {
			if (data != "error" && data != "unauthorized") {
				$('#menubar_id').append($('<option></option>').
					val(data).html(text));
				$('.create_menubar_close').click();
			} else {
				$('#create_menubar_error').html('Could not create new menubar.');
			}
		});
	}
</script>
{% endblock %}
{% block content %}
	<h1>{{ headline }}</h1>
	<form id="form" action="{{ action }}" method="post">
		{{ form.csrf_token }}
		<div class="container" style="width: 90%">
			<div class="row">
				<div class="col-sm-6">
					{{ form.menubar_id.label }}<span>{{ form.menubar_id }}</span>
				</div>
				<div class="col-sm-6">
					<a href="#" class="create_menubar_open">Create new menubar</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					{{ form.name.label }}<span>{{ form.name }}</span>
				</div>
				<div class="col-sm-6">
					{{ form.weight.label }}<span>{{ form.weight }}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					{{ form.address.label }}<span>{{ form.address }}</span>
				</div>
				<div class="col-sm-6">
					{{ form.flags.label }}<span>{{ form.flags }}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					{{ form.image.label }}<span>{{ form.image }}</span>
				</div>
				<div class="col-sm-6">
					Place for image preview
				</div>
			</div>
		</div>
		<div class="buttons">
			{{ form.confirm }}
			{{ form.cancel }}
		</div>
	</form>
	<div id="create_menubar" class="popup">
		<h2>Create new menubar</h2>
		<div>
			<input id="create_menubar_name" type="text"/>
		</div>
		<div id="create_menubar_error"></div>
		<div>
			<button onclick="create_menubar()">Create</button>
			<button class="create_menubar_close">Cancel</button>
		</div>
	</div>
{% endblock %}