{% extends "core/administration/base.html" %}
{% block styles %}
{{ super() }}
<style type="text/css">
	{{ tables.style_columns([1, 2, 3], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ tables.style_headers([1, 2, 3], "border-left: 1px solid #ddd; border-right: 1px solid #ddd;") }}
	{{ tables.style_columns([1, 2, 3], "vertical-align: top;") }}
	{{ tables.style_columns([2, 3], "font-size: 12px; color: #888;") }}
	{{ tables.size_columns([1, 2], "50%") }}
	{{ tables.align_columns([3], "center") }}
</style>
{% endblock %}
{% block content %}
<h1>Plugins</h1>
<table>
	<thead>
		<th>Plugin</th>
		<th>Blueprints</th>
		<th>Installer</th>
	</thead>
	<tbody>
		{% for plugin, installer, blueprints in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ plugin }}</td>
			<td>{% for item in blueprints %}{{ item }}<br/>{% endfor %}</td>
			<td>{% if installer %}{{ icons.glyph("ok") }}{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
