{% extends "core/administration/base.html" %}
{% block styles %}
{{ super() }}
<style type="text/css">
	{{ tables.size_columns([2], "25%") }}
	{{ tables.size_columns([3], "75%") }}
	{{ tables.style_columns([3, 4], "font-size: 12px; color: #888;") }}
	{{ tables.align_columns([4], "center") }}
</style>
{% endblock %}
{% block content %}
<h1>Role Administration</h1>
<table>
	<thead>
		<th>{{ menus.build(actions, "eo-popup-window") }}</th>
		<th>Name</th>
		<th>Description</th>
		<th>Extends</th>
	</thead>
	<tbody>
		{% for item in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ menus.context(item.actions, item.id, "eo-popup-window") }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.parent.name }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
