{% extends "core/administration/base.html" %}
{% import "base/table.html" as table %}
{% block styles %}
<style type="text/css">
	{{ table.style_columns([1, 2, 3], "vertical-align: top;") }}
</style>
{% endblock %}
{% block content %}
<h1>Routes</h1>
<table>
	<thead>
		<th>Blueprint</th>
		<th>Routes</th>
		<th></th>
	</thead>
	<tbody>
		{% for item in items %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{ item[0] }}</td>
			<td>{% for x in item[1] %}{{ x }}<br/>{% endfor %}</td>
			<td>{% for x in item[2] %}{{ x }}<br/>{% endfor %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
