<form id="form" action="{{ action }}" method="post">
	<h2>{{ headline }}</h2>
	{{ form.csrf_token }}
	<div class="container">
		{% for (first, second) in [(form.route, form.role_id),
		(form.insert, form.remove), (form.change, form.view)] %}
		<div class="row">
			{% for field in (first, second) %}
			<div class="col-sm-2 col-xs-4">{{ field.label }}</div>
			<div class="col-sm-4 col-xs-8">
				{{ field }}
				{% if field.errors %}
				<ul>
					{% for error in field.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="buttons">
		{{ form.confirm }}
		{{ form.cancel }}
	</div>
</form>