#personalmenu {
	margin: 0px -10px 5px 5px;
	text-align: right;
	font-size: 12px;
}

#mainmenu {
	margin: 25px 5px 5px -10px;
	margin-left: -10px;
	font-size: 18px;
}

#extendedmenu {
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

.menuitem {
	margin: 15px;
	font-style: normal;
	text-decoration: none;
	color: whitesmoke;
	font-size: 16px;
	font-weight: bold;
	max-height:25px;
}

.menuitem:hover, .menuitem:active,  .menuitem:focus {
	margin: 15px;
	font-style: normal;
	text-decoration: none;
	color: brown!important;
	margin-top:14px!important;
}

#personalmenu{
	

	position: absolute;
	top: 10px;
	right: 50px;
	z-index:3;
	
}

.menuitem img {
	vertical-align: middle;
}
.whitebg{
	background-color: rgba(255, 230, 230, 0.8)!important;
	margin-top: 75px;
	margin-bottom: 110px;
	margin-left: 0px;
	width: 100%;
	margin-right: -65px;
	color: white;
}
.buttons{
color:darkgrey;
}
a{
	color:white;
}
a:hover{
	color:brown;
}
label{
	font-size: 16px;
	font-weight: bold;
}
input{
	color:#A22B2B;
}
#infofield{
	background:rgba(255, 230, 230, 0.8)!important;
	color:#A22B2B;
	margin-top:-20px;
	margin-bottom:18px;
	padding: 20px;
	text-align: center;

}
.whiteb{
	background: white!important;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	padding:40px;
}
.whiteb>.container>a{
	color:grey!important;
}
.center{
	text-align: center!important;
	margin-top: 20px;
	margin-bottom: 50px;
}
.adm>a:hover{
	color:brown!important;

}
.gobutt{
	margin-top: -14px;
	border-radius:5px!important;
}