#personalmenu {
	margin: 0px -10px 5px 5px;
	text-align: right;
	font-size: 12px;
}

#mainmenu {
	margin: 25px 5px 5px -10px;
	margin-left: -10px;
	font-size: 18px;
}

#extendedmenu {
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

.menuitem {
	margin: 15px;
	font-style: normal;
	text-decoration: none;
	color: whitesmoke;
	font-size: 16px;
	font-weight: bold;
}

#personalmenu{
	

	position: absolute;
	top: 10px;
	right: 50px;
	
}

.menuitem img {
	vertical-align: middle;
}
.whitebg{
	background-color: rgba(255, 230, 230, 0.8)!important;
	margin-top: 75px;
	margin-bottom: 110px;
	margin-left: 0px;
	width: 100%;
	margin-right: -65px;
	color: white;
}
.buttons{
color:darkgrey;
}
a{
	color:white;
}
a:hover{
	color:brown;
}
label{
	font-size: 16px;
	font-weight: bold;
}
input{
	color:#A22B2B;
}