{% extends "base/main.html" %}
{% block content %}
<div class="row col-xs-12 box">
	<div class="row col-sm-4 ">
	</div>
	<div class="row col-sm-4 ">
		<div class="container" style="width:100%;height:auto;padding:50px;left: 80px;position:relative;">
			<h2>Register</h2>
			<div>Enter your data ...</div>
			<form id="form" action="{{ action }}" method="post">
				<div class="fields ">
					{{ form.csrf_token }}
					{% for field in form if field.type != "SubmitField" and
					field.type != "CSRFTokenField" %}
					<div>
						{{ field.label }}<br/>
						{{ field }}<br/>
						{% if field.errors %}
			    			<ul class=errors>
			    			{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
			    			</ul>
						{% endif %}
					</div>
					{% endfor %}
				</div>
				<div class="buttons">
					<br/>
					{{ form.confirm }}
					{{ form.cancel }}
				</div>
				
			</form>
		</div>
	</div>
	<div class="row col-sm-4">
	</div>
</div>
{% endblock %}