{% extends "base/main.html" %}
{% block styles %}
	{{ static.css("css/administration/table.css") }}
{% endblock %}
{% block content %}


<div class="row col-xs-12 box">
<div class="row col-sm-4 ">
</div>
<div class="row col-sm-4 ">
	<div class="container" style="width:100%;height:auto;padding:50px;left: 80px;position:relative;">
		<div class="toolbar">{{ menu.build(actions) }}</div>
		<table>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Extends</th>
				<th>Actions</th>
			</thead>
			<tbody>
				{% for item in items %}
				<tr class="{{ loop.cycle('odd', 'even') }}">
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.parent.name }}</td>
					<td>{{ menu.context(item.actions, item.id) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row col-sm-4">
</div>
</div>
{% endblock %}