{% extends "base/main.html" %}
{% block content %}
<h2>Reset password</h2>
<div>Enter your new password ...</div>
<form id="form" action="{{ action }}" method="post">
	<div class="fields">
		{% for field in form if field.type != "SubmitField" %}
		<div>
			
				{{ field.label }}
			
			{{ field }}
			{% if field.errors %}
    			<ul class=errors>
    			{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
    			</ul>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<div class="buttons">
		{{ form.confirm }}
		{{ form.cancel }}
	</div>
	<div class="bar">
		<a href="/reset">Ich have <strong>forgotten</strong> my
		<strong>password</strong>!</a>
		<a href="/register">I'd like to <strong>register</strong>.</a>
	</div>
</form>
{% endblock %}