{% extends "base/main.html" %}
{% block content %}
<div class="row col-xs-12 box">
<div class="row col-sm-4 ">
</div>
<div class="row col-sm-4 ">
	<div class="container" style="width:100%;height:auto;padding:50px;left: 80px;position:relative;">
		<div class="toolbar">
		{{ menu.build(actions) }}
		{{ menu.context(item.actions, item.id) }}
	</div>
	<h1>{{ item.title }}</h1>
	<div>{{ item.content }}</div>
	<div>{{ item.author.name }}</div>

	</div>
</div>
<div class="row col-sm-4">
</div>
</div>
{% endblock %}